<h2>People</h2>
<div>
  <span>
    Total: {{dataService.data.people.total}}
  </span>
</div>
<div>
  <span>
    Available: {{dataService.data.people.free}}
  </span>
</div>
<h3>Resources</h3>
<div *ngFor="let key of dataService.data.resource | keys">
  <span *ngIf="dataService.data.resource[key] > 0">
    {{key | titlecase}}: {{dataService.data.resource[key]}}
  </span>
</div>

<h3>Robots</h3>
<div>
  <span>
    Explorers: {{dataService.data.overmind.explore.people.total}}
  </span>
</div>
<div>
  <span>
    Salvagers: {{dataService.data.overmind.salvage.people.total}}
  </span>
</div>
<h3>Stats</h3>
<div>
  <strong>Explored</strong>
</div>
<div *ngFor="let key of dataService.data.stats.explored | keys">
  <span *ngIf="dataService.data.stats.explored[key] > 0">
    {{key | titlecase}}: {{dataService.data.stats.explored[key]}}
  </span>
</div>
<div>
  <strong>Salvaged</strong>
</div>
<div *ngFor="let key of dataService.data.stats.salvaged | keys">
  <span *ngIf="dataService.data.stats.salvaged[key] > 0">
    {{key | titlecase}}: {{dataService.data.stats.salvaged[key]}}
  </span>
</div>

<h4>Saving</h4>
<div>
  <span>
    Last save: {{dataService.timeSinceSave | duration }} ago
  </span>
  <div>
    <button (click)="resetSave()">Reset Save</button>
  </div>
</div>
