<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row" style="width:100%">
    <div class="col-2">
        <app-resource></app-resource>
    </div>
    <div class="col">
        <ngb-tabset activeId="content-tab-2">
            <ngb-tab id="content-tab-1" title="Story">
                <ng-template ngbTabContent>
                    <app-story></app-story>
                </ng-template>
            </ngb-tab>

            <ngb-tab id="content-tab-2" title="Explore">
                <ng-template ngbTabContent>
                    <app-explore></app-explore>
                </ng-template>
            </ngb-tab>
            <ngb-tab id="content-tab-3" title="Salvage">
                <ng-template ngbTabContent>
                    <app-salvage></app-salvage>
                </ng-template>
            </ngb-tab>
            <ngb-tab id="content-tab-4"
                     title="Build"
                     *ngIf="dataService.data.recipes.length > 0">
                <ng-template ngbTabContent>
                    <app-build></app-build>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
  </div>
</div>
